{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-default btn-sm btn-back-list" href="{% url 'post_list' %}">목록으로 돌아가기</a>
    <form action="{% url 'post_delete' pk=post.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">삭제하기</button>
    </form>
    <div class="post">
        <h4 class="post-title">제목: {{ post.title }}</h4>
        <p class="content">{{ post.content }}</p>
        <p></p>
        <p></p>
    </div>
{% endblock %}
