{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="content">{{ post.content|linebreaksbr|truncatewords:20 }}
            <!--더보기 링크-->
            <a href="{% url 'post_detail' pk=post.pk %}">더보기</a>
        </p>
        <p class="right-text">{{ post.published_date }} | <strong>Published</strong></p>
        <p class="right-text">{{ post.author.username }} | <strong>Author</strong></p>
    </div>
{% endfor %}
{% endblock %}
