{% load static %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--정적파일을 참조하는 템플릿 static태그 (STATICFILES_DIRS의 path를 기준으로 상대경로)-->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<title>Django Blog</title>
</head>
<body>
	<div class="blog-header">
		<div class="container">
			<h2 class="blog-title"><a href="">Djangoblog</a></h2>
			<h2><a href="{% url 'post_add' %}">글쓰기</a></h2>
		</div>
	</div>
	<div class="container">
		<div class="post-container">
            <!--하나의 'Post'만 출력하도록 변경(post 변수 사용)-->
            <!--해당 Post는 content를 전부 출력해야함-->
         {% block content %}
         {% endblock %}
		</div>
	</div>



</body>
</html>